.container{
    text-align: center;
    margin-left: 30px;
}
.card{
    
    margin-left: 20px;
    display: inline-block;
    width: 300px;
    height: 400px;
    max-width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 24px;
    img {
      width: 100%;
      height: 200px;
      border-radius: 8px 8px 0 0;
    }
      padding: 24px;
      position: relative;
  
      button {
        margin-bottom: 15px;
        position: absolute;
        bottom: 0;
        width: 60%;
      }
    }
   
  
